
# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


# .NET build files
bin/
obj/

# Node packages
node_modules/
frontend/node_modules/

# React builds
frontend/dist/
frontend/build/

# Environment variables
.env.*

# App secrets
/appsettings.json
!appsettings.Example.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

